<div class="body">
  <div class="card">
    <p style="font-size: 4.5rem; font-weight: lighter">product Register</p>
    <i style="font-size: 1.5rem; font-weight: lighter">This is a simple product register app</i>
    <div class="card-body"></div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">product Name</th>
        <th scope="col">Reg number</th>
        <th scope="col">brand</th>
        <th scope="col">Details</th>
        <th scope="col"><button class="btn btn-outline-success"><i class="fas fa-plus"></i>&nbsp;Add New</button></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Reg number</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash-alt" style="color: red"></i>
      </tr>
      <tr>
        <td>Brand</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <td colspan="2">Details</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
    <ul></ul>

  </div>
</div>
